.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.container form {
  min-width: 300px;
}

.container form h1 {
  font-size: 2.5rem;
}

.container form label {
  font-weight: 700;
}

.container form p,
.container form input {
  font-size: 1rem;
}

.container form input,
.container form select {
  padding: 5px;
  outline: none;
}

.container form .input {
  display: flex;
  flex-direction: column;
  /* height: 75px; */
  margin-bottom: 10px;
}

.container form .input label {
  margin-bottom: 5px;
}

.container form div a {
  margin-left: 10px;
  font-weight: 700;
  text-decoration: none;
  color: var(--global-button-color);
}

.container form div a:hover {
  color: var(--global-button-color-hover);
  text-decoration: underline;
}

.container form > div.login {
  position: relative;
}

.error-message {
  color: red;
  font-size: 14px;
}
