.task-form {
  padding: 10px;
  flex-basis: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.task-form form > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.task-form form > div:nth-child(1) > div {
  min-height: 50px;
}

.task-form form > div:nth-child(2) {
  margin-bottom: 10px;
  min-height: 160px;
}

.task-form form > div:nth-child(2),
.task-form form > div > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.task-form textarea {
  min-height: 140px;
  resize: none;
}

.task-form input,
.task-form select {
  max-height: 30px;
}

.task-form input,
.task-form select,
.task-form textarea {
  padding: 5px;
  font-size: 1rem;
  border-radius: var(--global-radius);
  border: var(--global-border);
}

@media (min-width: 900px) {
  .task-form {
    flex-basis: 40%;
  }
}

@media (min-width: 1300px) {
  .task-form form > div:nth-child(1) {
    flex-direction: row;
    justify-content: space-between;
  }

  .task-form form > div:nth-child(1) > div {
    flex-grow: 1;
  }
}
