.tasksList {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tasksList h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tasksList h3 {
  font-size: 1.6rem;
  text-align: center;
}

.tasksList .filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.tasksList .filters input,
.tasksList .filters select {
  outline: none;
  padding: 5px;
  border-radius: var(--global-radius);
  border: var(--global-border);
}

.tasksList .filters * {
  font-size: 1rem;
}

.tasksList .filters div div {
  display: flex;
  gap: 10px;
}

.tasksList .list_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 5px;
}

.tasksList .list_group .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 900px) {
  .tasksList {
    flex-basis: 60%;
  }

  .tasksList .list_group {
    height: 80vh;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
  }

  .tasksList .list_group > * {
    flex: 1;
  }
}

@media (min-width: 1300px) {
  .tasksList .filters {
    flex-direction: row;
  }

  .tasksList .filters > * {
    flex: 1;
  }
}
